<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Order</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
<body>
<textarea   id="textArea"  rows="28" cols="100"></textarea>
<script src='js/jquery.min.js'></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

<script src="js/index.js"></script>

</body>
<style type="text/css">
textarea {
 
 background-color: silver;
 font-size: 20;
 font-weight: bold;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 
}
</style>
</html>